/**
 * Studio Wall - Twenty Seventeen
 * Styles for header across site
 *
 * Location: partials/content-header-navigation
 */

/*--- Header navigation container element ---*/
.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	flex-direction: row;
}

/*--- Media Query for header navigation container element ---*/
@media only screen and ( max-width: 768px ) {
	/*--- Change flex layout ---*/
	.header-navigation {
		flex-direction: column;
	}
}

/*--- Since we are not using the image trick, lets temporarily control the width here ---*/
#logo img {
	width: 250px;
}

/*--- Default menu styles, using flex instead of bootstrap ---*/
#menu {
	display: inline-flex;
	margin: 0;
	padding: 0;
}

/*--- Media Query for menu ---*/
@media only screen and ( max-width: 768px ) {
	/*--- Change display to block to prevent inline look ---*/
	#menu {
		display: block;
		margin: 1rem 0 0 0;
	}
}

/*--- Only target the first level li elements ---*/
#menu > li {
	list-style: none;
	margin: 0 1rem;
}

/*--- Media Query for menu list items ---*/
@media only screen and ( max-width: 768px ) {
	/*--- Only target the first level li elements ---*/
	#menu > li {
		text-align: center;
	}
}

/*--- Hide the mobile button ---*/
#menu .mobile {
	display: none;
}

/*--- Media Query for mobile button ---*/
@media only screen and ( max-width: 768px ) {
	#menu .mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

/*--- Styles to the expanded menu ( when hovering over the mobile button ) ---*/
#menu .expand {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

/*--- Media Query for expanded menu ---*/
@media only screen and ( max-width: 768px ) {
	#menu .mobile:hover .expand {
		display: flex;
	}
}

/*--- Control font size of expanded menu link items ---*/
#menu .expand li a {
	font-size: 1.4rem;
}

#menu > li a {
	text-decoration: none;
}

/*--- Media Query for menu links ---*/
@media only screen and ( max-width: 768px ) {
	#menu > li a {
		font-size: 1.8rem;
	}
}

/*--- Media Queries for CSS that isnt being maintained ---*/
@media only screen and ( max-width: 768px ) {
	#menu .dropdown {
		display: none;
	}
}
