/**
 * Studio Wall - Twenty Seventeen
 * Styles for footer
 *
 * Location: footer.php
 */

/*--- TODO ---*/
#footer {
	display: flex;
	border: 0.1rem solid #221E1F;
}

/*--- TODO ---*/
@media only screen and ( max-width: 768px ) {
	#footer {
		flex-direction: column;
	}
}

/*--- TODO REMOVE ---*/
#footer > section {
	height: 35rem;
}

#footer > section a {
	text-decoration: none;
}

/*--- TODO ---*/
#footer > section:first-child {
	width: 35%;
	border-right: 0.1rem solid #221E1F;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

/*--- TODO ---*/
@media only screen and ( max-width: 768px ) {
	#footer > section:first-child {
		width: 100%;
		border: none;
	}
}

/*--- TODO ---*/
#footer img {
	width: 15rem;
}

#footer > section:first-child > div {
	padding: 2.5rem;
}

/*--- TODO ---*/
#footer > section:first-child ul {
	margin: 0 0 2rem 0;
	padding: 0;
}

/*--- TODO ---*/
#footer > section:first-child ul li {
	display: flex;
	justify-content: center;
}

#footer .social a {
	margin: 0 .5rem;
}

#footer .social img {
	width: 2.5rem;
}

/*--- TODO ---*/
#footer > section:last-child {
	width: 65%;
	display: flex;
}

/*--- TODO ---*/
@media only screen and ( max-width: 768px ) {
	#footer > section:last-child {
		width: 100%;
	}
}

/*--- TODO ---*/
#footer > section:last-child > div {
	width: 100%;
}

/*--- TODO ---*/
#footer > section:last-child .column div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
	border-bottom: 0.1rem solid #221E1F;
}

@media only screen and ( max-width: 768px ) {
	#footer > section:last-child .column div:first-child {
		border-bottom: none;
		border-top: 0.1rem solid #221E1F;
	}
}

/*--- TODO ---*/
#footer > section:last-child .column div:first-child span {
	text-transform: uppercase;
	font-size: 3.3rem;
}

/*--- TODO ---*/
#footer > section:last-child .column div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70%;
	padding: 1rem;
}

@media only screen and ( max-width: 768px ) {
	#footer > section:last-child .column div:last-child {
		justify-content: flex-start;
	}
}

#footer > section:last-child .column div:last-child span {
	text-align: center;
}
