/**
 * Studio Wall - Twenty Seventeen
 * Core Components
 */

body {
	margin: 0 auto;
	max-width: 1200px;
	padding-bottom: 1.5rem; /*--- TODO ---*/
}

a {
	color: #221E1F;
	font-family: HelveticaNeueLT Std;
}

a:hover {
	color: #221E1F;
}

button:active,
button:focus,
button:active:focus {
	outline: none;
}

li {
	list-style: none;
}
