/**
 * Studio Wall - Twenty Seventeen
 * Styles for systems single
 *
 * Location: single-system.php
 */

/*--- TODO ---*/
.systems-single {
	margin: 0 0 8rem 0;
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.systems-single {
		margin: 0;
	}
}

/*--- TODO ---*/
.systems-single h1,
.systems-single h2,
.systems-single p,
.systems-single a {
	font-family: HelveticaNeueLT Std;
}

/*--- TODO ---*/
.systems-single .featured-image {
	position: relative;
	padding-bottom: 35%;
	min-height: 30rem;
}

/*--- TODO ---*/
.systems-single .featured-image div {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- TODO ---*/
.systems-single section {
	padding: 0 4rem;
}

/*--- TODO ---*/
@media only screen and ( max-width: 992px ) {
	.systems-single section {
		padding: 0 2rem;
	}
}

/*--- TODO ---*/
.systems-single .title-container h1 {
	font-size: 8rem;
	margin: 12rem 0 4rem;
}

/*--- TODO ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.systems-single .title-container h1 {
		font-size: 6rem;
		margin: 8rem 0 3rem;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) and ( min-width: 576px) {
	.systems-single .title-container h1 {
		margin: 4rem 0 2rem;
		font-size: 7rem;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 575px ) {
	.systems-single .title-container h1 {
		margin: 4rem 0 2rem;
		font-size: 5rem;
	}
}

/*-- TODO ---*/
.systems-single .title-container h1 span {
	color: #A3A5A8;
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.systems-single .specs-container {
		padding: 0 1.5rem;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.systems-single .specs-container > div {
		padding: 0;
		margin: 0 0 2rem 0;
	}
}

/*-- TODO ---*/
.systems-single ul {
	border-left: 0.1rem solid #221E1F;
	margin: 0;
	padding: 0 0 0 3rem;
}

/*--- TODO ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.systems-single ul {
		padding: 0 0 0 2rem;
	}
}

/*-- TODO ---*/
.systems-single ul li {
	line-height: 1.2;
}

/*-- TODO ---*/
.systems-single ul li a {
	color: #A3A5A8;
	text-decoration: none;
	font-size: 2.6rem;
	transition: color 0.3s ease-in-out;
}

/*--- TODO ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.systems-single ul li a {
		font-size: 2.2rem;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.systems-single ul li a {
		font-size: 2.2rem;
	}
}

/*-- TODO ---*/
.systems-single ul li a:hover {
	color: #221E1F;
}

/*--- TODO ---*/
.systems-single .content-container {
	padding: 0 1.5rem 0 0;
}

/*-- TODO ---*/
.systems-single p {
	font-size: 2rem;
	line-height: 1.3;
}

/*--- TODO ---*/
@media only screen and ( max-width: 1199px ) {
	.systems-single p {
		font-size: 1.8rem;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.systems-single .custom-meta-container {
		margin: 4rem 0 0;
	}
}

/*--- TODO ---*/
.systems-single .custom  {
	padding: 2rem 0;
	border-bottom: 0.1rem solid #221E1F;
}

/*--- TODO ---*/
.systems-single .custom:first-child {
	padding: 0 0 2rem 0;
}

/*--- TODO ---*/
.systems-single .custom:last-child {
	border-bottom: none;
}

/*--- TODO ---*/
.systems-single .custom h2 {
	margin: 0;
}

/*--- TODO ---*/
@media only screen and ( max-width: 1199px) and ( min-width: 992px ) {
	.systems-single .custom h2 {
		font-size: 2.5rem;
	}
}

/*--- TODO ---*/
.systems-single .custom p {
	margin: 2rem 0 0;
	color: #A3A5A8;
}
