/**
 * Tag Wall - Twenty Seventeen
 * Styles for footer
 *
 * Location: footer.php
 */

/*--- Footer container element ---*/
#footer {
	display: flex;
	border-top: 0.1rem solid #221E1F;
	border-bottom: 0.1rem solid #221E1F;
	margin: 0 2em;
	font-family: HelveticaNeueLT Std;
}

/*--- Media Query for footer container element ---*/
@media only screen and ( max-width: 767px ) {
	#footer {
		flex-direction: column;
	}
}

/*--- Control the height of the two section elements ---*/
#footer > section {
	height: 30rem;
}

/*--- Remove all underlines on hover for links ---*/
#footer > section a {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

/*--- Hover behavior for the all links in the footer ---*/
#footer > section a:hover {
	color: #A2A4A7;
}

/*--- Styles for first section element in footer ---*/
#footer > section:first-child {
	width: 30%;
	border-right: 0.1rem solid #221E1F;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin: 2.5rem 0;
}

@media only screen and ( max-width: 1199px ) and ( min-width: 768px ) {
	#footer > section:first-child {
		width: 35%;
	}
}

/*--- Media Query for first section element in footer ---*/
@media only screen and ( max-width: 767px ) {
	#footer > section:first-child {
		width: 100%;
		border: none;
	}
}

/*--- Control the dimensions of the logo in the footer ---*/
#footer img {
	width: 12em;
}

/*--- Styles for <ul> elements in first section in footer ---*/
#footer > section:first-child ul {
	margin: 1em 0;
	padding: 0;
}

/*--- Styles for <li> elements in first section in footer ---*/
#footer > section:first-child ul li {
	display: flex;
	justify-content: center;
	color: #221E1F;
	font-size: 1.1em;
	font-weight: 300;
	font-family: HelveticaNeueLT Std;
}

/*--- Styles for links in the social segment ---*/
#footer .social a {
	margin: 0 .5rem;
	transition: color 0.3s ease-in-out;
}

#footer .social a i {
	font-size: 1.5em;
}

#footer .social a.twitter:hover {
	color: #4099ff;
}

#footer .social a.facebook:hover {
	color: #3b5998;
}

#footer .social a.pinterest:hover {
	color: #cb2027;
}

#footer .social a.instagram:hover {
	color: #125688;
}

#footer .social a.linkedin:hover {
	color: #007bb5;
}

#footer .content {
	margin: 2.5rem 0;
	width: 70%;
	display: flex;
	flex-direction: column;
}

@media only screen and ( max-width: 1199px ) and ( min-width: 768px ) {
	#footer .content {
		width: 65%;
	}
}

@media only screen and ( max-width: 767px ) {
	#footer .content {
		width: 100%;
		margin: 0;
	}
}

#footer .content .title-container {
	padding: 2em 0;
	max-width: 775px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
}

@media only screen and ( max-width: 767px ) {
	#footer .content .title-container {
		padding: 2em 0 0;
	}

	#footer .content .title-container > div {
		padding: 0.5em;
	}
}

#footer .content .title-container h2 {
	text-transform: uppercase;
	font-family: HelveticaNeueLT Std;
	font-weight: 600;
	margin: 0;
	text-align: center;
	font-size: 1.5em;
}

#footer .content .title-container h2 span {
	font-family: Bodoni;
}

#footer .content hr {
	width: 100%;
}

@media only screen and ( max-width: 767px ) {
	#footer .content hr {
		margin: 1em 0;
	}
}

#footer .content .footer-menus {
	margin: 0 auto;
	width: 100%;
	max-width: 775px;
	height: 100%;
	display: flex;
}

@media only screen and ( max-width: 767px ) {
	#footer .content .footer-menus {
		padding: 0;
	}
}

#footer .content .footer-menus > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer .content .footer-menus h2 {
	display: none;
}

#footer .content .footer-menus ul {
	padding: 0;
}

#footer .content .footer-menus ul li {
	line-height: 1.2;
	max-width: 110px;
}

#footer .content .footer-menus a {
	font-size: 1.2em;
}
