/**
 * Tag Wall - Twenty Seventeen
 * Styles for header on the front page
 *
 * Location: partials/content-header-navigation-front-page
 */

/*--- Header navigation front page container element ---*/
.header-navigation-front-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	max-width: 1500px;
	margin: 0 auto 1.5rem;
	height: 5rem;
}

/*--- Only target first level button elements ---*/
.header-navigation-front-page > button {
	display: flex;
	align-items: center;
}

/*--- Hover for first level button elements ---*/
.header-navigation-front-page > button:hover {
	opacity: 1;
}

.menu-container {
	position: fixed;
	top: 7.2rem;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 15em;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	background: #fff;
	transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@media only screen and ( max-width: 767px ) {
	.menu-container {
		padding-top: 10em;
	}
}

.menu-container.visible {
	opacity: 1;
	visibility: visible;
}

.menu-container > div {
	max-width: 1500px;
	margin: 0 auto;
}

.menu-container ul li {
	line-height: 1.2;
}

.menu-container ul li a {
	text-decoration: none;
	color: #A2A4A7;
	transition: color 0.3s ease-in-out;
}

/*--- Hover effect for all links in menu container ---*/
.menu-container ul li a:hover {
	color: #221E1F;
}

.menu-container .static-menu {
	border-right: 0.1rem solid #221E1f;
	padding-left: 2rem;
}

@media only screen and ( max-width: 767px ) {
	.menu-container .static-menu {
		border: none;
	}
}

.menu-container .static-menu ul {
	padding: 0;
}

.menu-container .static-menu ul li a {
	font-size: 6em;
	font-weight: 600;
}

@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.menu-container .static-menu ul li a {
		font-size: 5em;
	}
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.menu-container .static-menu ul li a {
		font-size: 3em;
	}
}

@media only screen and ( max-width: 767px ) {
	.menu-container .static-menu ul li a {
		font-size: 3.5em;
	}
}

.menu-container .dynamic-menu ul li a {
	font-size: 3rem; /*--- Control the font size of the second <ul> links here ---*/
	font-weight: 200;
}

@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.menu-container .dynamic-menu ul li a {
		font-size: 2.5rem;
	}
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.menu-container .dynamic-menu ul li a {
		font-size: 2rem;
	}
}

.menu-container .dynamic-menu ul {
	padding-left: 1em;
}

.menu-container .dynamic-menu .company,
.menu-container .dynamic-menu .projects {
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	position: absolute;
}

.menu-container .dynamic-menu .company.visible,
.menu-container .dynamic-menu .projects.visible {
	opacity: 1;
	visibility: visible;
}

.menu-container .dynamic-menu .company.not-visible,
.menu-container .dynamic-menu .projects.not-visible {
	opacity: 0;
	visibility: hidden;
}
