/**
 * Tag Wall - Twenty Seventeen
 * Styles for all page templates
 */

.wall-details {
	padding: 0 2rem;
	margin: 0 0 20rem 0;
}

@media only screen and ( max-width: 767px ) {
	.wall-details {
		margin: 0 0 20rem 0;
	}
}

/*--- Control margins of textblock container ---*/
.two-column-textblock {
	margin: 0 auto 8rem;
	max-width: 1500px;
	padding: 0 2rem;
}

/*--- Media Query to control the margins fo textblock container ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.two-column-textblock {
		margin: 0 0 4rem;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.two-column-textblock {
		padding: 0;
	}
}

/*--- TODO ---*/
.two-column-textblock .wall-title h1 {
	font-size: 6em;
}

/*--- TODO ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.two-column-textblock .wall-title h1 {
		font-size: 4em;
	}
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.two-column-textblock .wall-title h1 {
		font-size: 2em;
	}
}

/*--- Remove the margins of the content container ---*/
.two-column-textblock .content-container {
	margin: 0;
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.two-column-textblock .content-container {
		margin: 0;
		padding: 0 2rem;
	}
}

/*--- Control columns of the content ---*/
.two-column-textblock .content-container .content {
	column-count: 2;
	column-gap: 2rem;
	column-fill: auto;
	height: 900px;
	padding: 0;
	margin-left: 25.5em;
}

/*--- Media Query to control the min-height of the columns ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.two-column-textblock .content-container .content {
		height: 800px;
	}
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.two-column-textblock .content-container .content {
		margin-left: 19.5em;
	}
}

/*--- Media Query to adjust column count and padding of the columns ---*/
@media only screen and ( max-width: 991px ) {
	.two-column-textblock .content-container .content {
		column-count: 1;
		height: auto;
	}
}

@media only screen and ( max-width: 767px ) {
	.two-column-textblock .content-container .content {
		margin-left: 0;
	}
}

/*--- Styles to the paragraph tags ---*/
.two-column-textblock .content-container .content  p {
	font-size: 2rem;
	font-family: HelveticaNeueLT Std;
	word-break: break-word;
	hyphens: auto;
	margin: 0 0 2rem 0;
}

/*--- Media Query to control the font sie of the paragraph tags ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.two-column-textblock .content-container .content p {
		font-size: 1.8rem;
	}
}

/*--- Media Query to control the font size of the paragraph tags ---*/
@media only screen and ( max-width: 991px ) {
	.two-column-textblock .content-container .content p {
		font-size: 1.6rem;
	}
}

/*--- Allows metabox items to align with contact us info ---*/
.contact .content-container {
	padding: 0;
	margin-left: 20em;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.contact .content-container {
		margin-left: 15.5em;
	}

	.contact .content-container > div:last-child {
		margin-top: 4em;
	}
}

@media only screen and ( max-width: 767px ) {
	.contact .content-container {
		margin-left: 0em;
	}

	.contact .content-container > div:last-child {
		margin-top: 4em;
	}
}

/*--- horizontal line is now black ---*/
.contact .content-container > div hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #221E1F;
	margin: 2em 0;
	padding: 0;
}

@media only screen and ( max-width: 991px ) {
	.contact .content-container > div hr {
		margin: 1.5em 0;
	}
}

.contact .content-container > div h3 {
	font-family: HelveticaNeueLT Std;
	font-weight: 600;
	font-size: 1.8em;
}

@media only screen and ( max-width: 991px ) {
	.contact .content-container > div h3 {
		font-size: 1.5em;
	}
}

.contact .content-container > div h3 span {
	font-family: Bodoni;
}

.contact .content-container > div p {
	font-family: HelveticaNeueLT Std;
	font-weight: 300;
	font-size: 1.4em;
	margin: 0;
}

@media only screen and ( max-width: 991px ) {
	.contact .content-container > div p {
		font-size: 1.2em;
	}
}


/*--- Bottom part of metabox text is gray ---*/
.contact .content-container > div p:last-child {
	color: #A2A4A7;
}

.map {
	display: flex;
	justify-content: center;
	margin: 15em 0 4em;
}

@media only screen and ( max-width: 767px ) {
	.map {
		margin: 4em 0;
	}
}

.map iframe {
	width: 100%;
}

.single-column-list {
	margin-bottom: 10em;
}

@media only screen and ( max-width: 767px ) {
	.single-column-list {
		margin-bottom: 4em;
	}
}

.single-column-list .content-container {
	margin-left: 23em;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.single-column-list .content-container {
		margin-left: 17em;
	}
}

@media only screen and ( max-width: 767px ) {
	.single-column-list .content-container {
		margin-left: 0;
	}

	.single-column-list .content-container ul {
		padding: 0;
	}
}

.single-column-list h1 {
	font-weight: 600;
	font-size: 64px;
	margin: 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.single-column-list h1 {
		font-size: 50px;
	}
}

@media only screen and ( max-width: 767px ) {
	.single-column-list h1 {
		font-size: 24px;
	}
}
