/**
 * Tag Wall - Twenty Seventeen
 * Styles for header on the front page
 *
 * Location: partials/content-header-navigation-front-page
 */

/*--- Header navigation front page container element ---*/
.header-navigation-front-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	max-width: 1500px;
	margin: 0 auto 1.5rem;
	height: 7rem;
}

/*--- Only target first level button elements ---*/
.header-navigation-front-page > button {
	display: flex;
	align-items: center;
}

/*--- Hover for first level button elements ---*/
.header-navigation-front-page > button:hover {
	opacity: 1;
}

/*--- Menu container ---*/
.menu-container {
	position: absolute;
	height: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	background: #fff;
	transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/*--- Visible class for use in js ---*/
.menu-container.visible {
	opacity: 1;
	visibility: visible;
	height: 5200px; /*--- Control whitespace ---*/
}

/*--- Not visible class for use in js ---*/
.menu-container.not-visible {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

/*--- TODO ---*/
.menu-container > div {
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	padding: 10% 2rem 0;
	display: flex;
}

/*--- Styles for list elements within menu container ---*/
.menu-container ul {
	padding: 0;
	width: 100%; /*--- Control the width of the second <ul> here ---*/
	padding: 0 1.5rem;
	margin: 0;
}

/*--- Styles for first unordered list element within menu container ---*/
.menu-container ul:first-child {
	width: 65%; /*--- Control width of first <ul> here ---*/
}

/*--- Media Query to control the width of the first unordered list element within the menu container ---*/
@media only screen and ( max-width: 1199px ) {
	.menu-container ul:first-child {
		width: 100%;
	}
}

/*--- Media Query to control the width of the first unordered list element within the menu container ---*/
/*--- NOTE: There is definitely a more efficient way to handle this, this is a good quick solution for the moment however ---*/
@media only screen and ( max-width: 767px ) {
	.menu-container ul:first-child {
		width: 150%;
	}
}

/*--- Add the border-right to the list elements in the first unordered list element ---*/
.menu-container ul:first-child li {
	border-right: 0.1rem solid #A2A4A7;
}

/*--- Styles for the last ( second ) list element within menu container ---*/
.menu-container ul:last-child {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

@media only screen and ( max-width: 767px ) {
	.menu-container ul:last-child {
		padding-left: 0;
	}
}

/*--- Toggle visibility class on second unordered list element ---*/
.menu-container ul:last-child.visible {
	opacity: 1;
	visibility: visible;
}

/*--- Styles for all links in menu container ---*/
.menu-container ul li a {
	font-size: 3rem; /*--- Control the font size of the second <ul> links here ---*/
	font-weight: 200;
	text-decoration: none;
	color: #A2A4A7;
	transition: color 0.3s ease-in-out;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.menu-container ul li a {
		font-size: 2.5rem;
	}
}

/*--- Media Query for all links in menu container ---*/
@media only screen and ( max-width: 767px ) {
	.menu-container ul li a {
		font-size: 1.5rem; /*--- Control the font size of the second <ul> links here ---*/
	}
}

/*--- Change font size for links in first list within menu container ---*/
.menu-container ul:first-child li a {
	font-size: 7.5rem;
	font-weight: 600;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.menu-container ul:first-child li a {
		font-size: 6rem;
	}
}

/*--- Media Query for links in first list within menu container ---*/
@media only screen and ( max-width: 767px ) {
	.menu-container ul:first-child li a {
		font-size: 3rem;
	}
}

/*--- Hover effect for all links in menu container ---*/
.menu-container li a:hover {
	color: #221E1F;
}
