/**
 * Tag Wall - Twenty Seventeen
 * Fonts
 */

@font-face {
	font-family: HelveticaNeueLT Std;
	font-weight: 300;
	src: url( '../fonts/Linotype - HelveticaNeueLTStd-Roman.otf' );
}

@font-face{
	font-family: HelveticaNeueLT Std;
	font-weight: 600;
	src: url( '../fonts/Linotype - HelveticaNeueLTStd-Bd.otf' );
}

@font-face{
	font-family: Bodoni;
	src: url( '../fonts/Linotype - BodoniLTPro.otf' );
}
