/**
 * Tag Wall - Twenty Seventeen
 * Core Components
 */

body {
	margin: 0 auto;
	max-width: 1800px;
	padding: 0 0 4em;
}

a {
	color: #221E1F;
	font-family: HelveticaNeueLT Std;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

a:hover,
a:active,
a:focus,
a:active:focus {
	color: #221E1F;
	text-decoration: none;
	outline: none;
}

a[name] {
	padding-top: 4rem;
}

button:active,
button:focus,
button:active:focus {
	outline: none;
}

li {
	list-style: none;
}

span {
	font-family: HelveticaNeueLT Std;
}
