/**
 * Tag Wall - Twenty Seventeen
 * Styles for footer
 *
 * Location: footer.php
 */

/*--- Footer container element ---*/
#footer {
	display: flex;
	border-top: 0.1rem solid #221E1F;
	border-bottom: 0.1rem solid #221E1F;
	margin: 0 1rem;
	font-family: HelveticaNeueLT Std;
}

/*--- Media Query for footer container element ---*/
@media only screen and ( max-width: 767px ) {
	#footer {
		flex-direction: column;
	}
}

/*--- Control the height of the two section elements ---*/
#footer > section {
	height: 40rem;
}

/*--- Media Query to control the height of the last ( second ) section element in the footer ---*/
@media only screen and ( max-width: 767px ) {
	#footer > section:last-child {
		height: 30rem;
	}
}

/*--- Remove all underlines on hover for links ---*/
#footer > section a {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

/*--- Hover behavior for the all links in the footer ---*/
#footer > section a:hover {
	color: #A2A4A7;
}

/*--- Styles for first section element in footer ---*/
#footer > section:first-child {
	width: 30%;
	border-right: 0.1rem solid #221E1F;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	/*margin: 2.5rem;*/
	margin: 2.5rem 0;
}

/*--- Media Query for first section element in footer ---*/
@media only screen and ( max-width: 767px ) {
	#footer > section:first-child {
		width: 100%;
		border: none;
	}
}

/*--- Control the dimensions of the logo in the footer ---*/
/*--- NOTE: This can be optimized using the image trick. ---*/
#footer img {
	width: 15em;
}

/*--- Styles for <ul> elements in first section in footer ---*/
#footer > section:first-child ul {
	margin: 0 0 2rem 0;
	padding: 0;
}

/*--- Styles for <li> elements in first section in footer ---*/
#footer > section:first-child ul li {
	display: flex;
	justify-content: center;
	color: #221E1F;
	font-size: 1.4em;
	font-weight: 300;
	font-family: HelveticaNeueLT Std;
}

/*--- Styles for links in the social segment ---*/
#footer .social a {
	margin: 0 .5rem;
	transition: color 0.3s ease-in-out;
}

#footer .social a i {
	font-size: 1.6em;
}

#footer .social a.twitter:hover {
	color: #4099ff;
}

#footer .social a.facebook:hover {
	color: #3b5998;
}

#footer .social a.pinterest:hover {
	color: #cb2027;
}

#footer .social a.instagram:hover {
	color: #125688;
}

#footer .social a.linkedin:hover {
	color: #007bb5;
}

/*--- Styles for last ( second ) section element in footer ---*/
#footer > section:last-child {
	width: 70%;
	display: flex;
}

/*--- Media Query for last ( second ) section element ---*/
@media only screen and ( max-width: 767px ) {
	#footer > section:last-child {
		width: 100%;
	}
}

@media only screen and ( max-width: 575px ) {
	#footer > section:last-child {
		height:100%;
		flex-direction: column;
	}
}

/*--- Styles for all first level <div> elements in the last ( second ) section in footer ---*/
#footer > section:last-child .column {
	width: 100%;
}

@media only screen and ( max-width: 767px ) {
	#footer > section:last-child .column {
		border-top: 0.1rem solid #221E1f;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 23rem;
	}
}

/*--- Styles for the first <div> element in the columns of the last ( second ) section in the footer ---*/
#footer > section:last-child .column h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30%;
	border-bottom: 0.1rem solid #221E1F;
	margin: 0;
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 600;
	padding: 2rem;
}

#footer > section:last-child .column h2 + h2 {
	display: none;
}

/*--- Media Query for the first <div> element in the columns of the last ( second ) section in the footer ---*/
@media only screen and ( max-width: 767px ) {
	#footer > section:last-child .column h2 {
		border-bottom: none;
		padding: 0;
	}
}

#footer > section:last-child .column span {
	font-family: Bodoni;
	font-weight: 400;
}

/*--- Control height and padding of generated menu elements ---*/
#footer > section:last-child .column > div {
	height: 70%;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

/*--- Media Query for generated menu elements ---*/
@media only screen and ( max-width: 575px ) {
	#footer > section:last-child .column > div {
		margin: 1rem 0 0 0;
		padding: 0;
	}
}

/*--- Control font-size of links in the columns of the last ( second ) section in the footer ---*/
#footer > section:last-child .column a {
	font-size: 1.4em;
	font-weight: 300;
}

/*--- Styles for the last <div> element in the columns of the last ( second ) section in the footer ---*/
#footer > section:last-child .column ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 70%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/*--- Media Query for the last <div> element in the columns of the last ( second ) section in the footer ---*/
@media only screen and ( max-width: 767px ) {
	#footer > section:last-child .column div:last-child {
		justify-content: flex-start;
	}
}

/*--- Center align the <li> elements in columns ---*/
#footer > section:last-child .column ul li {
	line-height: 1.6;
}
