/**
 * Tag Wall - Twenty Seventeen
 * Core Components
 */

body {
	margin: 0 auto;
	max-width: 1500px;
	padding: 1.5rem 0 2rem 0; /*--- Bottom is slightly larger to accomodate for flex positioning of image in header ---*/
}

a {
	color: #221E1F;
	font-family: HelveticaNeueLT Std;
}

a:hover {
	color: #221E1F;
}

button:active,
button:focus,
button:active:focus {
	outline: none;
}

li {
	list-style: none;
}

span {
	font-family: HelveticaNeueLT Std;
}
