/**
 * Tag Wall - Twenty Seventeen
 * Styles for the various page templates
 *
 * Location: page-templates/two-column-textblock.php
 */

/*--- Control margins of textblock container ---*/
.two-column-textblock {
	margin: 0 0 8rem 0;
}

/*--- Media Query to control the margins fo textblock container ---*/
@media only screen and ( max-width: 992px ) and ( min-width: 768px ) {
	.two-column-textblock {
		margin: 0 0 4rem;
	}
}

/*--- Control margins for hero image ---*/
.hero-image {
	margin: 0 0 8rem 0;
}

/*--- Media Query to control margins for hero image ---*/
@media only screen and ( max-width: 767px ) {
	.hero-image {
		margin: 0;
	}
}

/*--- Add min-height to hero image settings ---*/
.hero-image .settings {
	min-height: 30rem;
}

/*--- Featured image styles ---*/
.settings {
	position: relative;
	padding-bottom: 35%;
}

/*--- Control margins of the featured image ---*/
.featured-image {
	margin: 0px 45% -15% 2%;
}

/*--- TODO ---*/
.two-column-textblock .featured-image {
	margin: 0px 30% -16% 2%;
}

/*--- Media Query to control margins of the featured image ---*/
@media only screen and ( max-width: 767px ) {
	.featured-image,
	.two-column-textblock .featured-image {
		margin: 6rem 3rem 5rem;
	}
}

/*--- Source for featured image ---*/
.settings div {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- Remove the margins of the content container ---*/
.two-column-textblock .content-container {
	margin: 0;
}

/*--- Control columns of the content ---*/
.two-column-textblock .content-container .content {
	column-count: 2;
	column-gap: 2rem;
	column-fill: auto;
	height: 900px;
}

/*--- Media Query to control the min-height of the columns ---*/
@media only screen and ( max-width: 1200px ) and ( min-width: 992px ) {
	.two-column-textblock .content-container .content {
		height: 800px;
	}
}

/*--- Media Query to adjust column count and padding of the columns ---*/
@media only screen and ( max-width: 991px ) {
	.two-column-textblock .content-container .content {
		column-count: 1;
		padding: 0 1rem;
	}
}

/*--- Styles to the paragraph tags ---*/
.two-column-textblock .content-container .content  p {
	font-size: 2rem;
	font-family: HelveticaNeueLT Std;
	word-break: break-word;
	hyphens: auto;
	margin: 0 0 2rem 0;
}

/*--- Media Query to control the font sie of the paragraph tags ---*/
@media only screen and ( max-width: 1200px ) and ( min-width: 992px ) {
	.two-column-textblock .content-container .content p {
		font-size: 1.8rem;
	}
}

/*--- Media Query to control the font size of the paragraph tags ---*/
@media only screen and ( max-width: 991px ) {
	.two-column-textblock .content-container .content p {
		font-size: 1.6rem;
	}
}

/*=========================================================*/

/*--- Systems grid container ---*/
.archive-users .team-grid {
	margin: 0 0 20rem 0;
}

/*--- Media Query for systems container, reduce margins and increase padding ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid {
		padding: 0;
		margin: 0;
	}
}

/*--- Provide flex on bootstrap rows ---*/
.archive-users .team-grid .row {
	display: flex;
	margin: 0;
}

/*--- Media Query for bootstrap rows, add flex direction column ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .row {
		flex-direction: column;
	}

	/*--- Do not display image placeholder ---*/
	.archive-users .team-grid .row:last-child .no-padding {
		display: none;
	}
}

/*--- System images will conform to 16:9 aspect ratio ---*/
.archive-users .team-grid .user-image {
	padding-bottom: 56.25%;
	position: relative;
}

/*--- If any system image has the 'not-visible' class on it, do not display the image ---*/
.archive-users .team-grid .user-image.not-visible {
	opacity: 0;
	visibility: hidden;
}

/*--- Source for system images ---*/
.archive-users .team-grid .user-image div {
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- Give margin 10rem to images that display on the right ---*/
.archive-users .team-grid .right .user-image div {
	right: 10rem;
}

/*--- Media Query for right images, reduce margin to 0 ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .right .user-image div {
		right: 0;
	}
}

/*--- Give margin 10rem to images that display on the left ---*/
.archive-users .team-grid .left .user-image div {
	left: 10rem;
}

/*--- Media Query for left images, reduce margin to 0 ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .left .user-image div {
		left: 0;
	}
}

/*--- Content block for system images ---*/
.archive-users .team-grid .info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/*--- Media Query for 'info' containers that contain the 'no-padding' class ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .no-padding {
		order: 1;
	}
}

/*--- Control the spacing of the left 'info' containers ---*/
.archive-users .team-grid .info.left {
	padding: 0 3rem 0 10rem;
}

/*--- Media Query to control the spacing of the left 'info' containers ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .info.left {
		padding: 8rem 4rem;
	}
}

/*--- Control the spacing of the right 'info' containers ---*/
.archive-users .team-grid .info.right {
	padding: 0 10rem 0 3rem;
}

/*--- Media Query to control the spacing of the right 'info' containers ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .info.right {
		padding: 8rem 4rem;
	}
}

/*--- TODO ---*/
.archive-users .team-grid .info.left > div {
	padding: 0 0 0 2rem;
}

/*--- TODO ---*/
.archive-users .team-grid .info.left .header-content {
	border-left: 0.1rem solid #333;
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .info.left .header-content {
		border-left: none;
	}
}

/*--- TODO ---*/
.archive-users .team-grid .info.right .header-content {
	border-right: 0.1rem solid #333;
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .info.right .header-content {
		border-right: none;
	}
}

/*--- Styles to h3 elements within 'info' container ---*/
.archive-users .team-grid .info h3 {
	font-size: 3.5rem;
	font-weight: 600;
	margin-top: 4rem;
	font-family: HelveticaNeueLT Std;
}

/*--- TODO ---*/
.archive-users .team-grid .info h3 + h3 {
	margin: 0;
	color: #184688;
}

/*--- Media Query to h3 elements within 'info' container ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.archive-users .team-grid .info h3 {
		margin-top: 3.2rem;
		font-size: 2.8rem;
	}
}

/*--- Media Query to h3 elements within 'info' container ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-users .team-grid .info h3 {
		margin: 2.5rem 0 0.5rem 0;
		font-size: 2.2rem;
	}
}

/*--- Media Query to h3 elements within 'info' container ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .info h3 {
		font-size: 3rem;
		position: relative;
		margin: 1rem 0 0;
	}
}

/*--- Styles to make 'Tagwall' appear differently in the h3 element ---*/
.archive-users .team-grid .info h3 span {
	color: #A3A5A8;
}

/*--- TODO ---*/
.archive-users .team-grid .info .info-content {
	margin-top: 4rem;
}

/*--- TODO ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-users .team-grid .info .info-content {
		margin-top: 2rem;
	}
}

/*--- Styles to paragraph elements within the 'info' container ---*/
.archive-users .team-grid .info p {
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	font-size: 2rem;
	line-height: 1.3;
	margin: 0;
}

/*--- Media Query to paragraph elements within the 'info' container ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.archive-users .team-grid .info p {
		font-size: 1.8rem;
	}
}

/*--- Media Query to paragraph elements within the 'info' container ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-users .team-grid .info p {
		font-size: 1.5rem;
	}
}

/*--- Media Query to control the font size of the paragraph elements within the 'info' container ---*/
@media only screen and ( max-width: 767px ) {
	.archive-users .team-grid .info p {
		font-size: 1.6rem;
	}
}
