/**
 * Tag Wall - Twenty Seventeen
 * Styles for systems archive
 *
 * Location: archive-system.php
 */

/*--- Control margin of temporary carousel ---*/
.carousel {
	margin: 0 2rem 6rem 2rem;
}

/*--- Media Query to control margin of temporary carousel ---*/
@media only screen and ( max-width: 767px ) {
	.carousel {
		margin: 0;
	}
}

/*--- Overriding carousel arrows ---*/
.carousel .slick-prev:before {
	font-size: 50px;
	color: #A2A4A7;
}

.carousel .slick-next:before {
	font-size: 50px;
	color: #A2A4A7;
}

/* Place carousel arrows over image*/
.carousel .slick-prev {
	position: absolute;
	left: 15px;
	z-index: 1;
}

.carousel .slick-next {
	right: 40px;
	position: absolute;
	z-index: 1;
}

/*--- TODO ---*/
.archive-systems {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 2rem;
}

/*--- TODO ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems {
		padding: 0;
	}
}
