/**
 * Tag Wall - Twenty Seventeen
 * Styles for systems archive
 *
 * Location: archive-system.php
 */

/*--- Control margin of temporary carousel ---*/
.carousel {
	margin: 0 0 6rem 0;
}

/*--- Media Query to control margin of temporary carousel ---*/
@media only screen and ( max-width: 767px ) {
	.carousel {
		margin: 0;
	}
}

/*--- Temporary carousel placeholder ---*/
.carousel .settings {
	padding-bottom: 68%;
	position: relative;
}

/*--- Source container for image ---*/
.carousel .settings div {
	background-size: contain;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- TODO ---*/
.archive-systems {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 2rem;
}

/*--- Wall systems featured image, use negative margins to have preceeding container overlap the image ---*/
.archive-systems > .featured-image {
	margin: 0 1% -15%;
}

/*--- Media Query for wall systems logo, readjust margin ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems > .featured-image {
		margin: 5rem 3rem 6rem;
	}
}

/*--- Only display wall systems featured image for 85% of container---*/
.archive-systems .featured-image .settings {
	padding-bottom: 40%;
	position: relative;
}

/*--- Source container for systems featured image ---*/
.archive-systems .featured-image .settings div {
	background-size: contain;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- Media Query for source container for systems logo, change background-size ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .featured-image .settings div {
		background-size: cover;
	}
}

/*--- Systems grid container ---*/
.archive-systems .systems-grid {
	margin: 0 0 20rem 0;
}

/*--- Media Query for systems container, reduce margins and increase padding ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid {
		padding: 0;
		margin: 0;
	}
}

/*--- Provide flex on bootstrap rows ---*/
.archive-systems .systems-grid .row {
	display: flex;
	margin: 0;
}

/*--- Media Query for bootstrap rows, add flex direction column ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .row {
		flex-direction: column;
	}

	/*--- Do not display image placeholder ---*/
	.archive-systems .systems-grid .row:last-child .no-padding {
		display: none;
	}
}

/*--- System images will conform to 16:9 aspect ratio ---*/
.archive-systems .systems-grid .featured-image {
	padding-bottom: 56.25%;
	position: relative;
}

/*--- If any system image has the 'not-visible' class on it, do not display the image ---*/
.archive-systems .systems-grid .featured-image.not-visible {
	opacity: 0;
	visibility: hidden;
}

/*--- Source for system images ---*/
.archive-systems .systems-grid .featured-image div {
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- Give margin 10rem to images that display on the right ---*/
.archive-systems .systems-grid .right .featured-image div {
	right: 10rem;
}

/*--- Media Query for right images, reduce margin to 0 ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .right .featured-image div {
		right: 0;
	}
}

/*--- Give margin 10rem to images that display on the left ---*/
.archive-systems .systems-grid .left .featured-image div {
	left: 10rem;
}

/*--- Media Query for left images, reduce margin to 0 ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .left .featured-image div {
		left: 0;
	}
}

/*--- Content block for system images ---*/
.archive-systems .systems-grid .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*--- Media Query for 'info' containers that contain the 'no-padding' class ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .no-padding {
		order: 1;
	}
}

/*--- Control the spacing of the left 'info' containers ---*/
.archive-systems .systems-grid .info.left {
	padding: 0 3rem 0 12rem;
}

/*--- Media Query to control the spacing of the left 'info' containers ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .info.left {
		padding: 8rem 4rem;
	}
}

/*--- Control the spacing of the right 'info' containers ---*/
.archive-systems .systems-grid .info.right {
	padding: 0 10rem 0 3rem;
}

/*--- Media Query to control the spacing of the right 'info' containers ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .info.right {
		padding: 8rem 4rem;
	}
}

/*--- Styles to h3 elements within 'info' container ---*/
.archive-systems .systems-grid .info h3 {
	font-size: 3.5rem;
	font-weight: 600;
	margin-top: 4rem;
	font-family: HelveticaNeueLT Std;
	position: absolute;
	top: 0;
}

/*--- Media Query to h3 elements within 'info' container ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.archive-systems .systems-grid .info h3 {
		margin-top: 3.2rem;
		font-size: 2.8rem;
	}
}

/*--- Media Query to h3 elements within 'info' container ---*/
@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-systems .systems-grid .info h3 {
		margin-top: 2.5rem;
		font-size: 2.2rem;
	}
}

/*--- Media Query to h3 elements within 'info' container ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .info h3 {
		font-size: 3rem;
		position: relative;
		margin: 1rem 0 2rem;
	}
}

/*--- Styles to make 'Tagwall' appear differently in the h3 element ---*/
.archive-systems .systems-grid .info h3 span {
	color: #A3A5A8;
}

/*--- Styles to paragraph elements within the 'info' container ---*/
.archive-systems .systems-grid .info p {
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	font-size: 2.5rem;
	line-height: 1.3;
	word-break: break-word;
	hyphens: auto;
}

/*--- Media Query to paragraph elements within the 'info' container ---*/
@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.archive-systems .systems-grid .info p {
		font-size: 1.8rem;
	}
}

/*--- Media Query to hide the paragraph elements within the 'info' container ---*/
@media only screen and ( max-width: 991px ) {
	.archive-systems .systems-grid .info p {
		display: none;
	}
}

/*--- Media Query to control the font size of the paragraph elements within the 'info' container ---*/
@media only screen and ( max-width: 767px ) {
	.archive-systems .systems-grid .info p {
		font-size: 1.3rem;
	}
}

/*--- Styles for the mobile specific paragraph element within the 'info' container ---*/
.archive-systems .systems-grid .info p.mobile {
	display: none;
}

/*--- Media Query to display the mobile specific paragraph element within the 'info' container ---*/
@media only screen and ( max-width: 991px ) {
	.archive-systems .systems-grid .info p.mobile {
		display: block;
		font-size: 1.5rem;
	}
}
