/**
 * Tag Wall - Twenty Seventeen
 * Styles for all archive pages
 *
 * Location: archive-{post-type}.php
 */

.details-container.row {
	display: flex;
	height: 40rem;
	border-bottom: 0.1rem solid #ccc;

	/*--- Need this for applied details archive ---*/
	margin: 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.details-container.technical {
		height: 30rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.details-container.row {
		flex-direction: column;
		height: auto;
		border: none;
	}
}

.details-container > div {
	display: flex;
	align-items: center;
}

.details-container > div:first-child {
	justify-content: center;
}

.details-container > div:last-child {
	justify-content: flex-start;
}

@media only screen and ( max-width: 767px ) {
	.details-container > div:last-child {
		justify-content: center;
	}
}

.details-container h1 {
	font-size: 7rem;
	font-weight: 600;
	font-family: HelveticaNeueLT Std;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.details-container h1 {
		font-size: 5rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.details-container h1 {
		font-size: 5.5rem;
		margin: 1.5rem 0 0;
		text-align: center;
	}
}

.details-container ul {
	padding: 2rem;
	border-left: 0.1rem solid #221E1F;
}

@media only screen and ( max-width: 767px ) {
	.details-container ul {
		border: none;
	}
}

.details-container ul li {
	line-height: 1.1;
}

@media only screen and ( max-width: 767px ) {
	.details-container ul li {
		display: flex;
		justify-content: center;
	}
}

.details-container ul a {
	font-size: 3rem;
	font-weight: 600;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.details-container ul a {
		font-size: 2rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.details-container ul a {
		font-size: 2.5rem;
		text-align: center;
	}
}

.details-container ul li a:hover {
	color: #A3A5A8;
}

.details-container ul a.back {
	color: #A3A5A8;
}

.details-container ul a.back:hover {
	color: #221E1F;
}

.archive-container {
	margin: 0 0 20rem;
	padding: 12rem 0 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container {
		padding: 6rem 0 0;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container {
		margin: 0;
		padding: 0;
	}
}

.archive-container section {
	width: 100%;
}

.archive-container .title {
	max-width: 1550px;
	margin: 0 auto;
	padding: 0 1em;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .title {
		padding: 0 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.archive-container h1 {
	font-family: HelveticaNeueLT Std;
	font-weight: 600;
	margin: 1.5rem 0;
}

@media only screen and ( max-width: 767px ) {
	.archive-container h1 {
		text-align: center;
	}
}

.settings {
	position: relative;
	padding-bottom: 65%;
}

/*--- Source for featured image ---*/
.settings div {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.arrow.top {
	position: fixed;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.arrow.top.visible {
	opacity: 1;
	visibility: visible;
}

.arrow.top a {
	padding: 0;
	background-color: #fff;
	border: 1px solid #221e1f;
	height: 5rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.arrow.top i {
	font-size: 4rem;
	padding-bottom: .2rem;
}

.archive-container .featured-image-circle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.archive-container .featured-image-circle.custom {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	display: flex;
	border: 0.1rem dashed #221e1f;
	margin-top: 1em;
}

.archive-container .featured-image-circle.not-visible {
	opacity: 0;
	visibility: hidden;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .featured-image-circle.not-visible {
		display: none;
	}
}

.archive-container .featured-image-circle img {
	width: 180px;
	height: auto;
	min-height: 180px;
	object-fit: cover;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.hardware .featured-image-circle img {
		width: 180px;
		min-height: 180px;
	}
}

.archive-container .featured-image-circle + h1 {
	margin: 2rem 0 0;
	text-align: center;
	font-weight: 600;
	width: 180px;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .title + hr {
		margin-top: 0;
	}
}

.archive-container .taxonomies {
	width: 100%;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies {
		margin: 2rem 0;
	}
}

.archive-container .taxonomies .title {
	max-width: 1420px;
}

.archive-container .taxonomies > .row {
	max-width: 1550px;
	margin: 0 auto;
	padding: 0 1em;
}

.archive-container .taxonomy-item {
	display: flex;
	flex-direction: column;
}

.archive-container .taxonomies > .row .taxonomy-item:first-child {
	justify-content: center;
	align-items: flex-start;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies > .row .taxonomy-item:first-child {
		justify-content: center;
		align-items: center;
	}
}

.archive-container .taxonomies > .row .taxonomy-item:nth-child( 2 ) {
	justify-content: center;
	align-items: center;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies > .row .taxonomy-item:nth-child( 2 ) {
		justify-content: center;
		align-items: center;
	}
}

.archive-container .taxonomies > .row .taxonomy-item:last-child:not( :nth-child( 2 ) ):not( :first-child ) {
	justify-content: center;
	align-items: flex-end;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies > .row .taxonomy-item:last-child:not( :nth-child( 2 ) ):not( :first-child ) {
		justify-content: center;
		align-items: center;
	}
}
