/**
 * Tag Wall - Twenty Seventeen
 * Styles for doors archive
 *
 * Location: archive-door.php
 */

.archive-container.door > .row {
	padding: 6rem 10%;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.door > .row {
		padding: 6rem 10% 0;
	}
}

.archive-container.door > .row + .row {
	border-top: 0.1rem solid #221E1F;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.door > .row + .row {
		margin: 0;
		border: none;
		padding: 0 10%;
	}
}

/*--- System images will conform to the new aspect ratio ---*/
.archive-container.door .featured-image {
	padding-bottom: 125%;
	position: relative;
}

.archive-container.door .featured-image div {
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.archive-container.door figure + h1 {
	text-align: center;
}

.archive-container.door .taxonomies {
	width: 100%;
	margin-top: 20rem;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.door .taxonomies {
		margin: 2rem 0;
	}
}

.archive-container.door .taxonomies > .row {
	border-bottom: 0.1rem solid #221E1f;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.door .taxonomies > .row {
		border: none;
	}
}

.archive-container.door .taxonomy-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
}

.archive-container.door .featured-image-circle {
	width: 220px;
	height: 220px;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 50%;
}

.archive-container.door .featured-image-circle.custom {
	border: 0.1rem dashed #221e1f;
}

.archive-container.door .featured-image-circle img {
	width: 220px;
	height: auto;
	min-height: 220px;
	vertical-align: middle;
	object-fit: cover;
}

.archive-container.door .featured-image-circle + h1 {
	margin: 2rem 0 0;
	text-align: center;
	font-weight: 400;
}
