/**
 * Tag Wall - Twenty Seventeen
 * Core Components
 */

/*--- TODO ---*/
body {
	margin: 0 auto;
	max-width: 1800px;
	padding: 1.5rem 0 6rem 0;
}

/*--- TODO ---*/
a {
	color: #221E1F;
	font-family: HelveticaNeueLT Std;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

/*--- TODO ---*/
a:hover,
a:active,
a:focus,
a:active:focus {
	color: #221E1F;
	text-decoration: none;
	outline: none;
}

/*--- TODO ---*/
a[name] {
	padding-top: 4rem;
}

/*--- TODO ---*/
button:active,
button:focus,
button:active:focus {
	outline: none;
}

/*--- TODO ---*/
li {
	list-style: none;
}

/*--- TODO ---*/
span {
	font-family: HelveticaNeueLT Std;
}
