/**
 * Tag Wall - Twenty Seventeen
 * Styles for all archive pages
 *
 * Location: archive-{post-type}.php
 */

.details-container.row {
	display: flex;
	height: 40rem;
	border-bottom: 0.1rem solid #ccc;

	/*--- Need this for applied details archive ---*/
	margin: 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.details-container.technical {
		height: 30rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.details-container.row {
		flex-direction: column;
		height: auto;
		border: none;
	}
}

.details-container > div {
	display: flex;
	align-items: center;
}

.details-container > div:first-child {
	justify-content: center;
}

.details-container > div:last-child {
	justify-content: flex-start;
}

@media only screen and ( max-width: 767px ) {
	.details-container > div:last-child {
		justify-content: center;
	}
}

.details-container h1 {
	font-size: 5rem;
	font-weight: 600;
	font-family: HelveticaNeueLT Std;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.details-container h1 {
		font-size: 4rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.details-container h1 {
		font-size: 4.5rem;
		margin: 1.5rem 0 0;
		text-align: center;
	}
}

.details-container ul {
	padding: 2rem;
	border-left: 0.1rem solid #221E1F;
}

@media only screen and ( max-width: 767px ) {
	.details-container ul {
		border: none;
	}
}

.details-container ul li {
	line-height: 1.1;
}

@media only screen and ( max-width: 767px ) {
	.details-container ul li {
		display: flex;
		justify-content: center;
	}
}

.details-container ul a {
	font-size: 2.5rem;
	font-weight: 600;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.details-container ul a {
		font-size: 2rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.details-container ul a {
		font-size: 2.5rem;
		text-align: center;
	}
}

.details-container ul li a:hover {
	color: #A3A5A8;
}

.details-container ul a.back {
	color: #A3A5A8;
}

.details-container ul a.back:hover {
	color: #221E1F;
}

.archive-container {
	margin: 0 0 20rem;
	padding: 12rem 0 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container {
		padding: 6rem 0 0;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container {
		margin: 0;
		padding: 0;
	}
}

.archive-container section {
	width: 100%;
}

.archive-container .title {
	/*max-width: 1550px;*/
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 1em;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .title {
		padding: 0 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.archive-container h1 {
	font-family: HelveticaNeueLT Std;
	font-weight: 600;
	margin: 1.5rem 0;
}

@media only screen and ( max-width: 767px ) {
	.archive-container h1 {
		text-align: center;
	}
}

.settings {
	position: relative;
	padding-bottom: 65%;
}

/*--- Source for featured image ---*/
.settings div {
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.arrow.top {
	position: fixed;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.arrow.top.visible {
	opacity: 1;
	visibility: visible;
}

.arrow.top a {
	padding: 0;
	background-color: #fff;
	border: 1px solid #221e1f;
	height: 5rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.arrow.top i {
	font-size: 4rem;
	padding-bottom: .2rem;
}

.archive-container .featured-image-circle {
	display: flex;
	justify-content: center;
	align-items: center;
}

.archive-container .featured-image-circle.custom {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	border: 0.1rem dashed #221e1f;
	margin-top: 1em;
}

.archive-container .featured-image-circle.not-visible {
	opacity: 0;
	visibility: hidden;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .featured-image-circle.not-visible {
		display: none;
	}
}

.archive-container .featured-image-circle img {
	width: 150px;
	height: auto;
	min-height: 150px;
	object-fit: cover;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.hardware .featured-image-circle img {
		width: 180px;
		min-height: 180px;
	}
}

.archive-container .featured-image-circle + h1 {
	margin: 2rem 0 0;
	text-align: center;
	font-weight: 600;
	width: 150px;
	/*font-size: 1.6em;*/
	font-size: 1.3em;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .title + hr {
		margin-top: 0;
	}
}

.archive-container .taxonomies {
	width: 100%;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies {
		margin: 2rem 0;
	}
}

.archive-container .taxonomies .title {
	max-width: 1420px;
}

.archive-container .taxonomies > .row {
	/*max-width: 1550px;*/
	max-width: 1450px;
	margin: 0 auto;
	padding: 0 1em;
}

.archive-container .taxonomy-item {
	display: flex;
	flex-direction: column;
}

.archive-container .taxonomies > .row .taxonomy-item:first-child {
	justify-content: center;
	align-items: flex-start;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies > .row .taxonomy-item:first-child {
		justify-content: center;
		align-items: center;
	}
}

.archive-container .taxonomies > .row .taxonomy-item:nth-child( 2 ) {
	justify-content: center;
	align-items: center;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies > .row .taxonomy-item:nth-child( 2 ) {
		justify-content: center;
		align-items: center;
	}
}

.archive-container .taxonomies > .row .taxonomy-item:last-child:not( :nth-child( 2 ) ):not( :first-child ) {
	justify-content: center;
	align-items: flex-end;
}

@media only screen and ( max-width: 767px ) {
	.archive-container .taxonomies > .row .taxonomy-item:last-child:not( :nth-child( 2 ) ):not( :first-child ) {
		justify-content: center;
		align-items: center;
	}
}

.archive-container.applied-detail {
	margin: 0 auto;
	padding: 12em 2rem;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.applied-detail {
		padding: 0;
	}
}

.archive-container.door > .row {
	padding: 2em 20% 0;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.door > .row:first-child {
		padding: 0 10%;
		margin: 0;
	}

	.archive-container.door > .row:not( :first-child ) {
		padding: 3rem 10% 0;
	}
}

.archive-container.door > .row + .row {
	border-top: 0.1rem solid #221E1F;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.door > .row + .row {
		margin: 0;
		border: none;
		padding: 0 10%;
	}
}

/*--- System images will conform to the new aspect ratio ---*/
.archive-container.door .featured-image {
	padding-bottom: 125%;
	position: relative;
}

.archive-container.door .featured-image div {
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.archive-container.door figure + h1 {
	text-align: center;
}

@media only screen and ( max-width: 1199px ) and ( min-width: 992px ) {
	.archive-container.door figure + h1 {
		font-size: 1.6em;
	}

}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.door figure + h1 {
		font-size: 1.4em;
	}
}

.archive-container.door .taxonomies {
	margin-top: 0;
}

.archive-container.film .row.indent {
	margin: 0 auto;
}

.archive-container.film .row.indent p {
	/*font-size: 1.5em;*/
	font-size: 1.3em;
	font-weight: 300;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.film .row.indent p {
		font-size: 1.2em;
	}
}

.archive-container.film .row.indent p + p {
	margin-top: 1em;
}

.archive-container.film .content {
	/*max-width: 1550px;*/
	max-width: 1450px;
	margin: 4em auto 10em;
	display: flex;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.film .content {
		margin: 4em auto;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container.film .content {
		flex-direction: column;
	}

	.archive-container.film .content div + div {
		margin-top: 1em;
	}
}

.archive-container.film .archive-item .content .description {
	padding: 0 2em;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.film .archive-item .content .description {
		padding: 0 1em;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container.film .archive-item .content .description {
		padding: 0 15px;
	}
}

.archive-container.film p {
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	/*font-size: 2em;*/
	font-size: 1.5em;
	font-weight: 600;
	word-break: break-word;
	hyphens: auto;
	line-height: 1.3;
}

@media only screen and ( max-width: 1499px ) and ( min-width: 992px ) {
	.archive-container.film p {
		font-size: 1.5em;
	}
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.film p {
		font-size: 1.2em;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container.film p {
		font-size: 1.2em;
	}
}

.archive-container.film .content a {
	position: absolute;
	bottom: -10px;
	text-decoration: underline;
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	/*font-size: 2em;*/
	font-size: 1.5em;
	font-weight: 600;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.film .content a {
		position: relative;
	}
}

/*--- CSS hack to target child terms, we can remediate this by making the $custom->all_terms an assoc array with parent/child classes ---*/
.details-container.glass ul li:nth-child(n+3):not(:last-child) {
	padding-left: 8%;
}

@media only screen and ( max-width: 767px ) {
	.details-container.glass ul li:nth-child(n+3):not(:last-child) {
		padding-left: 0;
	}
}

.archive-container.glass .child:not(:first-child) {
	padding: 6rem 0;
}

@media only screen and ( max-width: 991px ) {
	.archive-container.glass .child {
		padding: 0;
	}
}

.archive-container.glass .row.indent p {
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	font-size: 1.4em;
	font-weight: 300;
	word-break: break-word;
	hyphens: auto;
}

.archive-container.glass .taxonomies:not(:first-child) {
	margin: 10em 0;
}

.archive-container.glass section {
	margin-bottom: 20rem;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.glass section {
		margin-bottom: 10rem;
	}
}

.archive-container.hardware > section {
	padding-bottom: 4em;
}

.archive-container.hardware .content {
	/*max-width: 1550px;*/
	max-width: 1450px;
	margin: 0 auto;
	padding: 2em 0;
	display: flex;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.hardware .content {
		padding: 0;
	}

	.archive-container.hardware .content h2 {
		font-size: 2.2rem;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container.hardware .content {
		flex-direction: column;
		padding: 2em 0 0;
	}

	.archive-container.hardware .content > div:not(:first-child) {
		margin: 2em 0;
	}
}

.archive-container.hardware .hgu-finish .content {
	min-height: 240px;
}

.archive-container.hardware .content .settings {
	padding-bottom: 165%;
}

.archive-container.hardware .content .settings.lever {
	padding-bottom: 35%;
}

.archive-container.hardware .segment {
	display: flex;
	align-items: center;
	justify-content: center;
}

.archive-container.hardware .segment h2 {
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	font-size: 2.5em;
	font-weight: 600;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.hardware .segment h2 {
		font-size: 2em;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container.hardware .segment h2 {
		font-size: 1.8em;
		text-align: center;
	}
}

.archive-container.hardware .sub-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.archive-container.hardware .sub-title h2 {
	font-weight: 600;
}

.archive-container.hardware .content .finish-item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.archive-container.hardware .content .finish-item h2 {
	margin: 0;
	text-align: center;
	font-family: HelveticaNeueLT Std;
	font-weight: 600;
}
