/**
 * Tag Wall - Twenty Seventeen
 * Styles for the technicals archive
 *
 * Location: archive-tehcnical.php
 */

.archive-container.technical .featured-image {
	margin: 6rem 0;
}

.arrow.top {
	position: fixed;
	bottom: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.arrow.top.visible {
	opacity: 1;
	visibility: visible;
}

.arrow.top a {
	padding: 0;
	background-color: #fff;
	border: 1px solid #221e1f;
	height: 5rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.arrow.top i {
	font-size: 4rem;
	padding-bottom: .2rem;
}
