/**
 * Tag Wall - Twenty Seventeen
 * Styles for the wall-details page template
 *
 * Location: page-templates/wall-details.php
 */
.wall-details {
	padding: 0 2rem;
	margin: 0 0 20rem 0;
}

@media only screen and ( max-width: 767px ) {
	.wall-details {
		margin: 0 0 30rem 0;
	}
}
