/**
 * Tag Wall - Twenty Seventeen
 * Styles for header across site
 *
 * Location: partials/content-header-navigation
 */

/*--- Header navigation container element ---*/
.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	margin: 0 auto 1.5rem;
	max-width: 1500px;
	flex-direction: row;
	height: 5rem;
}

/*--- Media Query for header navigation container element ---*/
@media only screen and ( max-width: 767px ) {
	/*--- Change flex layout ---*/
	.header-navigation {
		flex-direction: column;
		height: auto; /*--- Removes hard coded height ---*/
	}
}

/*--- Since we are not using the image trick, lets temporarily control the width here ---*/
#logo img {
	width: 200px;
}

/*--- Default menu styles, using flex instead of bootstrap ---*/
#menu {
	display: inline-flex;
	margin: 0;
	padding: 0;
}

/*--- Media Query for menu ---*/
@media only screen and ( max-width: 767px ) {
	/*--- Change display to block to prevent inline look ---*/
	#menu {
		display: block;
		margin: 1rem 0 0 0;
	}
}

/*--- Only target the first level li elements ---*/
#menu > li {
	list-style: none;
	/*margin: 0 1rem;*/
	margin: 0 1.5rem;
}

/*--- Media Query for menu list items ---*/
@media only screen and ( max-width: 767px ) {
	/*--- Only target the first level li elements ---*/
	#menu > li {
		text-align: center;
	}
}

/*--- Default styles for the links within the menu ---*/
#menu > li a {
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s ease-in-out;
	font-size: 1.2rem;
}

/*--- Hover behavior for the links within the menu ---*/
#menu > li a:hover {
	color: #A2A4A7;
}

/*--- Hide the mobile button ---*/
#menu .mobile {
	display: none;
}

/*--- Media Query for mobile button ---*/
@media only screen and ( max-width: 767px ) {
	#menu .mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

/*--- Styles to the expanded menu ( when hovering over the mobile button ) ---*/
#menu .expand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, height 0.5s ease-in-out, padding 0.3s ease-in-out; /*--- Control the transition out ---*/
}

/*--- Media Query for expanded menu ---*/
@media only screen and ( max-width: 767px ) {
	#menu .mobile:hover .expand {
		display: flex;
		opacity: 1;
		padding: 0 0 .5rem 0;
		visibility: visible;
		height: 8.2rem;
		transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out, height 0.5s ease-in-out, padding 0.3s ease-in-out; /*--- Control the transition in ---*/
	}
}

/*--- Control font size of expanded menu link items ---*/
#menu .expand li a {
	font-size: 1.4rem;
}

/*--- Media Query for menu links ---*/
@media only screen and ( max-width: 767px ) {
	#menu > li > a {
		font-size: 2rem;
		line-height: 2;
	}
}

/*--- Media Queries for CSS that isnt being maintained ---*/
@media only screen and ( max-width: 767px ) {
	#menu .dropdown {
		display: none;
	}
}
