/**
 * Tag Wall - Twenty Seventeen
 * Styles for film archive
 *
 * Location: archive-film.php
 */

.archive-container.film .row.indent {
	margin-top: 0;
}

.archive-container.film .row.indent p {
	font-size: 1.4em;
	font-weight: 300;
}

.archive-container.film .row.indent p + p {
	margin-top: 1em;
}

.archive-container.film .content {
	max-width: 1550px;
	margin: 4em auto 10em;
	display: flex;
}

@media only screen and ( max-width: 768px ) {
	.archive-container.film .content {
		flex-direction: column;
	}

	.archive-container.film .content div + div {
		margin-top: 1em;
	}
}

.archive-container.film p {
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	font-size: 2em;
	font-weight: 600;
	word-break: break-word;
	hyphens: auto;
	line-height: 1.3;
}

@media only screen and ( max-width: 1499px ) and ( min-width: 992px ) {
	.archive-container.film p {
		font-size: 1.5em;
	}
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.archive-container.film p {
		font-size: 1em;
	}
}

@media only screen and ( max-width: 767px ) {
	.archive-container.film p {
		font-size: 1.2em;
	}
}

.archive-container.film .content a {
	position: absolute;
	bottom: -10px;
	text-decoration: underline;
	font-family: HelveticaNeueLT Std;
	color: #A3A5A8;
	font-size: 2em;
	font-weight: 300;
}

@media only screen and ( max-width: 767px ) {
	.archive-container.film .content a {
		position: relative;
	}
}
